/*Font-families
font-family: 'Gotu', sans-serif;
font-family: 'Courgette', cursive;
font-family: 'Vidaloka', serif;*/

body {
    font-family: 'Gotu', sans-serif;
    font-size: 12px;
}

h1, h2 {
    font-family: 'Vidaloka', serif;
}
h1 {
    font-size: 55px;
}
h2 {
    font-size: 25px;
}

/*Black navbar*/
.top-level {
    background-color: black;
    color: white;
    display: flex;
}
.top-level-actions ul{
    list-style-type: none;
    display: inline-flex;
}

/*White navbar*/
.logo {
    padding-top: 10px;
    margin-left: 50px;
}
.site-actions ul {
    list-style-type: none;
    display: inline-flex;
}
.site {
    display: flex;
}

/*Hero*/
.hero {
    background: url(/img/hero/h1_hero.jpg);
    background-repeat: no-repeat;
    height: 400px;
    width: auto;
    display: flex;
}
#hero-lady {
    height: 400px;
    width: auto;
    margin-left: 150px;
}

/*Categories*/
.categories {
    height: 100px;
    width: auto;
    text-align: center;
    margin-top: 90px;
    margin-bottom: -30px;
}
.category-boxes {
    display: flex;
    justify-content: center;
}
#category-img {
    height:170px;
    width: 25% vw;
    display: space-between;
    margin: 8px;
}

/*Latest Products*/
.latest-products {
    display: flex;
    margin-top: 65px;
}
.l-products ul {
    list-style-type: none;
    display: inline-flex;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 200px;
}
.item {
    width: 215px;
    height: auto;
    margin: 10px;
}
/*Find the best Product form our shop*/
.best-product {
    background: url(/img/categories/card.png);
    height: 300px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#card-man {
    height: 360px;
    width: auto;
    position: relative;
    margin-bottom: 50px;
}
#pile-polos {
    height: 75px;
    width: auto;
    opacity: 80%;
}


/*Best Collection of This Month*/
.best-collection {
    display: flex;
    height: 550px;
    justify-content: space-evenly;
    align-items: center;
}
#pile-jeans {
    height: 75px;
    width: auto;
    margin-top: 60px;
}
#dude-posing {
    height: 350px;
    width: auto;
}

/*Get our latest offers*/
.latest-offers {
    background: url(/img/collection/latest-offer.png);
    height: 200px;
    width: auto;
    display: flex;
    align-items: center;
}
#latest-man {
    height: 235px;
    width: auto;
}

/*Three boxes*/
.boxes {
    display: flex;
    justify-content: center;
}
.boxes div {
    width: auto;
    margin: 8%;
}

/*Gallery*/
.gallery {
    display: flex;
    height: 200px;
    width: auto;
}
#gallery-img {
    height: 180px;
    width: 20% vw;
}

/*4 boxes*/
.links {
    display: flex;
    width: 80%;
    justify-items: center;
}
